{% extends 'user/masterpg.html' %}
{% block content %}
{% load static %}
<h1>About us:</h1>
<p>Flipkart is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private
    limited company. The company initially focused on online book sales before expanding into other product categories
    such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.</p>
<img src="{% static 'images/about.webp' %}" width="500px" height="500px" />
{% endblock %}