{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/cssclass.css' %}" rel="stylesheet">
</head>

<body>
    <img src="{% static 'images/pic1.jpg' %}" alt="img1" width="200px" height="200px">
    <img src="{%static 'images/pic2.jpg' %}" alt="img2" width="200px" height="200px">
    <a href="www.facebook.com">facebook</a><br />
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate modi nisi qui ut praesentium, mollitia nostrum harum fugiat id delectus.</span>
    <div style="color: brown;">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, quia. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Reiciendis, similique.
    </div>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, eum!</span>
</body>

</html>