{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cssrules.css' %}">
</head>
</head>

<body>
    <div class="div2"> 
    <p id="p1" class="p1" style="color: blue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quos.</p>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <b>hellooooo</b>
    <b>haaaaaiiii</b>
    <img src="{% static 'images/logo.png' %}"></div>
    <img src="{% static 'images/offer.jpg' %}">



    priority
    <div style="color: blue;" id= "div1">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit fugit minima odit, vero laboriosam
        facilis!</div>
</body>

</html>