{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/gridwork.css' %}">
</head>
<body>
    <div class="dm">
        <div class="d1"><img src="{% static 'images/pic4.jpg' %}"></div>
        <div class="d2"><img src="{% static 'images/pic5.jpg' %}"></div>
        <div class="d3"><img src="{% static 'images/pic1.jpg' %}"></div>
        <div class="d4"><img src="{% static 'images/pic10webp.webp' %}"></div>
        <div class="d5"><img src="{% static 'images/pic8.png' %}"></div>
        <div class="d6"><img src="{% static 'images/pic6.jpg' %}"></div>
        <div class="d7"><img src="{% static 'images/pic9.jpg' %}"></div>
        <div class="d8"><img src="{% static 'images/pic7.jpg' %}"></div>
        <div class="d9"><img src="{% static 'images/pic2.jpg' %}"></div>
        <div class="d10"><img src="{% static 'images/pic3.jpg' %}"></div>
    </div>
</body>
</html>